#chart{
	margin-bottom: 40px;
}

path {
    stroke: #F00;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

text {
    /*font-family: Arial;*/
    font-size: 9pt;
}

.yTicks{
	stroke: #CCC;
	stroke-width: 1;
}

.chartdots{
	fill: #F00;	
	stroke: #FFF;
	stroke-width: 3;
}