@import "../flat/less/config";
@import "../flat/less/mixins";
@import "../css/charts";

body{ background: @clouds; font-size: 0.8em; }

h3.title{ font-size: 1.4em; margin-bottom: 1em; }
.container{ width: 960px; }
header{ padding: 10px 0;}
.pad{ margin: 0 20px ; }

#sidebar{ color: @clouds; /*background: @midnight-blue;*/ }
#sidebar a{ color: #c2c5ca;}
#sidebar a:hover{ color: @wet-asphalt;}
#sidebar .nav-list li a{ margin-bottom: 15px; }
i{ margin-right: 15px; }

.avatar-container{ margin-bottom: 40px; }
img.avatar{ .border-radius(100px); max-width: 50px; max-height: 50px; border: 2px solid #FFF; }

#main{ background: #FFF; .box-shadow(0 0 3px 3px #CCC); padding: 30px 0; background: url('../img/dashboard-bg.png') }

#stats .title{ line-height: 2em; margin-right: 50px; }
#stats .title, #slc-time-frame, #stats .select{ float: left; }
#date-inputs-container{ float: right; }

/***** LOGIN ******/

@form-shadow:#4f6175;

/* body{ background: @midnight-blue; }*/

.login{
	margin: auto;
	height: 420px;
	width: 420px;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #FFF;
	.box-shadow(-6px 6px 0 0 @form-shadow);
	.border-radius(3px);
	overflow: hidden;
}

.login form{ padding: 40px 53px;}

.login-header{
	background: @clouds;
	padding: 40px 0;
	text-align: center;
}

.login-form .login-field {
font-size: 17px;
padding-bottom: 11px;
padding-top: 11px;
text-indent: 3px;
width: 299px;
margin-bottom: 10px !important;
}