@import "../flat/less/config";
@import "../flat/less/mixins";

body{ background: @clouds; }
#sidebar{ color: #FFF; background: @wet-asphalt; }
#main{ background: #FFF; .box-shadow(0 0 3px 3px #CCC) }

header{ padding: 20px 0;}

.pad{ margin: 20px; }